# Ignore Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore version control
.git/
.gitignore

# Ignore IDE/editor config
.vscode/
.idea/

# Ignore Jupyter notebooks and logs
*.ipynb
notebooks/
logs/
*.log

# Ignore local data
data/
.env

# Ignore unnecessary tests
tests/

# ignore devcontainer
.devcontainer/